html, body { 
  margin: 0;padding: 0;background: #222222; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-size: cover;
  background-repeat: no-repeat;
  &.page-01 {
    background-image: url(https://images.unsplash.com/photo-1514539079130-25950c84af65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2249&q=80);
  }
  &.page-02 {
    background-image: url(https://images.unsplash.com/photo-1537804531068-663f06b6ee08?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80);
  }
  &.page-03 {
    background-image: url(https://images.pexels.com/photos/207985/pexels-photo-207985.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  }
}

nav {
  padding: 40px;
  grid-column: 3;
  justify-self: end;

  a {
    margin: 0 20px 0 0;
    padding: 10px;
    background: #222222;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 2px;
  }
}

.title {
  grid-column: 1/3;
  grid-row: 2;
  align-self: center;
  font-size: 50px;
  padding: 30px 90px;
}

.screen-wipe-top {
  width: 100%;
  height: 100vh;
  background: #666;
  position: fixed;
  z-index: 1000;
  top: -100%;
}

.screen-wipe-bottom {
  width: 100%;
  height: 100vh;
  background: #666;
  position: fixed;
  z-index: 1000;
  bottom: -100%;
}