html, body { 
  margin: 0;padding: 0;background: #222222; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

nav {
  padding: 40px;
  grid-column: 3;
  justify-self: end;

  a {
    margin: 0 20px 0 0;
    padding: 10px;
    background: #444;
    text-decoration: none;
    font-size: 18px;
    color: white;
    border-radius: 2px;
  }
}

.title {
  grid-column: 1/3;
  grid-row: 2;
  align-self: center;
  font-size: 50px;
  padding: 30px 90px;
}